<a href="https://colab.research.google.com/github/anshsrivas07-debug/Basics-of-Python/blob/main/practical_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EDA using PYTHON
#expet -1
python basics
#ANSH SRIVASTAVA
#PRN-25070123015
#BATCH-ENTC 2025-29

In [1]:
# first program
print("hello world")

hello world

In [2]:
print("bro i am so cooked")

bro i am so cooked

In [5]:
a="hello"
print(a)

hello

In [6]:
# many statements
print("whatsuppp yooo")
print("i am done")
print("yeyeyeyeyeyye")

whatsuppp yooo
i am done
yeyeyeyeyeyye

In [7]:
print("kse ho");print("theek hoon")

kse ho
theek hoon

In [8]:
print("hello world",end=" ")
print("ek hi line me print krunga")

hello world ek hi line me print krunga

In [9]:
print(2)
print(4)
print(2824)

2
4
2824

In [10]:
# variables
x="ansh"
y="loves her"
print(x)
print(y)

ansh
loves her

In [11]:
# case sensitive
a=4
A="SHARUKH KHAN"
print(a)
print(A)

4
SHARUKH KHAN

In [12]:
# may value to multipile variables
x,y,z= "orange","banana",34
print(x)
print(y)
print(z)

orange
banana
34

In [15]:
a=20
b=5

In [16]:
# subtraction
print("subtraction =",a-b)

subtraction = 15

In [18]:
# multiplication
print("multiplication =",a*b)

multiplication = 100

In [19]:
#division
print("division is =",a/b)

division is = 4.0

In [32]:
# Understanding data types
x=10
y=3.14
z="PYTHON"
flag=True
c=3+2j
print(type(x))
print(type(y))
print(type(z))
print(type(flag))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [21]:
name= input("Enter your name:")
print("hello",name)

Enter your name:mauli
hello mauli

In [22]:
#simple calculator
a=int(input("enter first number:"))
b=int(input("enter second number"))
print("addition=",a+b)
print("subtraction",a-b)
print("division",a/b)
print("multiplication",a*b)

enter first number:20
enter second number5
addition= 25
subtraction 15
division 4.0
multiplication 100

In [23]:
#average and total markes obtained
maths=int(input("enter m1"))
phy=int(input("enter m2"))
chem=int(input("enter m3"))
eng=int(input("enter m4"))
hindi=int(input("enter m5"))
sum=maths+phy+eng+hindi+chem
print("total of 5 subject",maths+phy+chem+eng+hindi)
print("average",sum/5)

enter m160
enter m280
enter m370
enter m465
enter m548
total of 5 subject 323
average 64.6

In [25]:
# area of rectangle
length=int(input("enter length"))
breadth=int(input("enter breadth"))
print("area of rectangle=",length*breadth)

enter length16
enter breadth16
area of rectangle= 256

In [29]:
# area of circle
radius=int(input("enter radius"))
print("area of circle",3.14*radius*radius)

enter radius34
area of circle 3629.84